.check-box{
  cursor: pointer;
}

.check-box input[type="checkbox"]{
  /* display: none; */
  opacity: 0;
  z-index: 9;
  position: absolute;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.check-box input[type="checkbox"]:checked ~ label span{
  background: grey;
}

.check-box label span{
  position: relative;
  display: inline-block;
  background-color:#FFBA33;
  ;
  padding: 15px 30px;
  color: #555;
  transition: 0.3;
  user-select: none;
  overflow: hidden;
}
.btn-circle{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.input-form{
  margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
}